.CoalsQuantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;

  &__text {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
  }

  &__select {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-radius: 10px;

    &_decrement, &_increment {
      background-color: transparent;
      border: none;
      font-size: 24px;

      &:hover {
        cursor: pointer;
      }
    }

    &_value {
      margin: 0 20px;
      font-size: 26px;
    }
  }
}