.RatingsBy {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  &__heading {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }

  &__types {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
