.FoundResult {
  background: #23C220;
  border-radius: 6px;
  padding: 1px 6px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
  margin-top: 5px;
  border: none;
}

.FoundResult:hover {
  cursor: pointer;
}