.Navbar1 {
  padding: 18px 28px;
  background-color: #E5E5E5;
  border-radius: 15px 15px 0 0;

  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 509px;
  width: 100%;

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}