.SearchKeyword {
  background-color: #23C220;
  border-radius: 6px;
  padding: 1px 6px;
  font-size: 14px;
  line-height: 17px;
  font-width: bold;
  color: #fff;
  margin-right: 6px;
  margin-bottom: 3px;
  display: flex;
  align-items: flex-start;

  button {
    border: none;
    background-color: transparent;
    margin-left: 6px;
  }
  button:hover {
    cursor: pointer;
  }
}