.wrapper {
  max-width: 575px;
  margin: 0 auto;
}


.AddMix {
  padding: 39px 0 134px;

  &__content {
    padding: 0 12px;
    width: 100%;

    .AddMix__heading {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #000000;
    }
  }
}
